profiles {

    local {
        docker {
            enabled = true
        }
        process {
            executor = 'local'
        }
    }

    hpc {
        singularity {
            enabled = true
            autoMounts = true
        }
        process {
            executor = 'slurm'
            queue = 'normal'
        }
        executor {
            queueSize = 10
            submitRateLimit = '10 sec'
        }
    }

}
